 .empty-list {
     padding: 1.5rem;

 }

 .empty-list__content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     border: 0.125rem dashed var(--border);
     padding: 0.5rem;
 }

 .empty-list__title {
     font-size: 1.125rem;
     margin-bottom: 0.625rem;
 }

 .empty-list__description {
     font-size: 0.875rem;
     color: hsl(var(--browser-text));
 }