 .header {
     width: 100%;
     min-height: 3.75rem;
     background-color: hsl(var(--background-primary));
     padding: 0.75rem 2.5rem;
     border-bottom: 0.125rem solid var(--border);
     display: flex;
     gap: 1.25rem;
     align-items: center;
     min-width: 300px;

 }

 .header-title {
     margin: 0;
     font-size: 1.25rem;
     color: hsl(var(--pink-primary));
 }