.category-list {
    padding: 1.5rem;
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    overflow: auto;
}


.card-list {
    height: 4rem;
    width: 15rem;
    border: 0.125rem solid var(--border);
    border-radius: 1.25rem;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 0.75rem
}

.category-name {
    flex: 1;
    min-width: 0;
    padding: 0rem 0.5rem;
    border-radius: 0.938rem;
    font-size: 0.875rem;
    height: 1.75rem;
    line-height: 1.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-line {
    padding: 0.5rem 0rem;
    flex: 1;
}

.form-line__label {
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    height: 2.25rem;
    border: 0.065rem solid hsl(var(--border-input));
    border-radius: 0.625rem;
    padding: 0rem 0.5rem;
}

input:focus {
    border: 0.065rem solid hsl(var(--pink-primary));
}
.color-input-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input-color {
    width: 3.75rem;
}


.form-line--flex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.form-line--space-between {
    justify-content: space-between;
}

.sugestions-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    height: 2rem;
    border: 0.065rem solid hsl(var(--border-input));
    background-color: hsl(var(--background-secondary));


}

.sugestions-btn:hover {
    background-color: hsl(var(--pink-primary));
    color: white;

}

.form-line__preview {
    height: 1.75rem;
    background-color: black;
    color: black;
    border-radius: 0.938rem;
    border: 0.063rem solid black;
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
}

.register-btn {
    height: 2.5rem;
    width: 100%;
    border-radius: 0.625rem;
    border: 0.063rem solid hsl(var(--pink-primary));
    font-size: 0.875rem;
    background-color: hsl(var(--pink-primary));
    color: white;
}

button {
    cursor: pointer;
}

.form-line__sugestions {
    position: relative;
}

.submodal {
    position: absolute;
    top: 1.25rem;
    right: 0;
    width: 25rem;
    background-color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    border: 0.065rem solid #ddd;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.submodal__btn{
    width: 5rem;
    height: 1.25rem;
    border-radius: 0.625rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submodal__btn:hover{
    border: 0.125rem solid hsl(var(--pink-primary));
}

.input-error {
  border: 0.125rem solid red !important;
  border-radius: 0.25rem;
}

li{
    list-style: none;
}