 .sidebar {
        width: 18.75rem;
        height: 100%;
        padding: 2rem;
        border-right: 0.125rem solid var(--border);
        background-color: hsl(var(--background-primary));
        
       


    }

    .sidebar__option {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: hsl(var(--brown-text));
        font-size: 0.875rem;
        padding: 0rem 0.5rem;
        cursor: pointer;
        text-decoration: none;

    }

    .sidebar__option:not(.selected-option):hover {
        background-color: hsl(var(--background-hover));
        border-radius: 0.938rem;
    }

    .selected-option {
        background-color: hsl(var(--pink-primary));
        border-radius: 0.938rem;
        color: white;
    }