  .search-bar {
      display: flex;
      gap: 1rem;
      padding: 1.5rem;
      padding-top: 0rem;
      flex: 1;
      

  }

  .search-bar__bar {
      width: 100%;
      max-width: 31.25rem;
      padding: 0.625rem;
      font-size: 1rem;
      border-radius: 0.625rem;
      border: 0.065rem solid hsl(var(--pink-primary));
      font-style: italic;

  }