.background-modal {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 99;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .modal {
        min-width: 23.5rem;
        max-width: 30rem;
        background-color: hsl(var(--background-secondary));
        border-radius: 0.625rem;
        padding: 1.5rem;
        border: 0.063rem solid var(--border);
    }

    .modal__header {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
    }

     .modal__title {
        margin: 0;
    }

    .modal__button {
        background-color: transparent;
        border: none;
    }

   