.home-header {
    padding: 0.75rem 0 0.25rem 0;
    text-align: center;
}

.home-header__emoji, .home-header__title {
    margin: 0;
}

.home-header__subtitle {
    color: hsl(var(--brown-text));
}

.home-content {
    padding: 0.75rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem
}

.card {
    border-radius: 0.938rem;
    border: 1px solid var(--border);
    height: 6.25rem;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 1.25rem;
    gap: 1rem;
    background-color: hsl(var(--background-primary));

}

.card--inline {
    display: inline-grid;
    gap: 0.25rem;
    text-align: center;
    height: 7.5rem;
    cursor: pointer;
    text-decoration: none;
    color: black;

}

.card--inline:hover {
    color: hsl(var(--pink-primary));
}

.card__icon {
    min-width: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 100%;
}

.card__icon--circle{
    width: 3.125rem;
    height: 3.125rem;
}

.card__icon--blue {
    background-color: hsl(var(--blue-background));
    color: hsl(var(--blue-text));

}

.card__icon--green {
    background-color: hsl(var(--green-background));
    color: hsl(var(--green-text));

}

.card__icon--orange {
    background-color: hsl(var(--orange-background));
    color: hsl(var(--orange-text));

}

.card__info__quantity,
.card__info__name {
    margin: 0;
}

.card__info__quantity {
    font-size: 1.5rem;
}

.card__info__name {
    font-size: 0.875rem;
    color: hsl(var(--brown-text));
}

.home-quick-options {
    padding: 0.75rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;

}

.card__icon--emoji {
    font-size: 1.25rem;
}

.card__info__title {
    font-size: 1.25rem;
    font-weight: 700;
}