

:root {
    --border: #db57831a;
    --background-primary: 30 40% 99%;
    --background-secondary: 36 45% 98%;
    --background-hover: 340 40% 95%;
    --pink-primary: 340 65% 60%;
    --brown-text: 20 10% 50%;
    --blue-background: 200 60% 92%;
    --green-background: 160 45% 88%;
    --orange-background: 40 90% 75%;
    --orange-text: 20 80% 65%;
    --green-text: 160 45% 65%;
    --blue-text: 200 60% 70%;
    --red-background: 0 70% 58%;
    --border-input: 30 25% 88%;
    --yellow-warning: 40 90% 55%;




}

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    height: 100vh;
    margin: 0;
}


  .button-action {
     border-radius: 15px;
     border: none;
     height: 40px;
     padding: 8px;
     color: white;
     cursor: pointer;
     width: 120px;
     justify-content: center;
     align-items: center;
     gap: 12px;
     display: flex;


 }

 .button-check {
     height: 16px;
     width: 16px;
     border-radius: 100%;
     border: 1px solid hsl(var(--pink-primary));
     background-color: white;
     cursor: pointer;
     padding: 0;

 }

 .button-check.selected {
     background-color: hsl(var(--pink-primary))
 }

 .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}




