

:root {
    --border: #db57831a;
    --background-primary: 30 40% 99%;
    --background-secondary: 36 45% 98%;
    --background-hover: 340 40% 95%;
    --pink-primary: 340 65% 60%;
    --brown-text: 20 10% 50%;
    --brown-strong-text: 21 19.6% 21%;
    --blue-background: 200 60% 92%;
    --green-background: 160 45% 88%;
    --orange-background: 40 90% 75%;
    --orange-text: 20 80% 65%;
    --green-text: 160 45% 65%;
    --blue-text: 200 60% 70%;
    --red-background: 0 70% 58%;
    --border-input: 30 25% 88%;
    --yellow-warning: 40 90% 55%;
    --pink-hover: 340 50% 85%;
    --background-muted: 30 30% 94%;
    --brown-text-muted: 19 9.8% 50%;




}

* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    
}

h1, h2, h3{
    font-family: "Nunito", sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    
}


  .button-action {
     border-radius: 0.938rem;
     border: none;
     height: 2.5rem;
     padding: 0.5rem;
     color: white;
     cursor: pointer;
     min-width: 7.5rem;
     justify-content: center;
     align-items: center;
     gap: 0.75rem;
     display: flex;


 }

 .button-action--new {
    background-color: hsl(var(--pink-primary));
}

 .button-check {
     height: 1rem;
     width: 1rem;
     border-radius: 100%;
     border: 0.065rem solid hsl(var(--pink-primary));
     background-color: white;
     cursor: pointer;
     padding: 0;

 }

 .button-check.selected {
     background-color: hsl(var(--pink-primary))
 }

 .sr-only {
    position: absolute;
    width: 0.065rem;
    height: 0.065rem;
    padding: 0;
    margin: -0.065rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.title-button {
    display: flex;
    align-items: center;
}




