 .page-title {
     display: flex;
     justify-content: space-between;
     padding: 1.5rem
 }

 .page-title__title {
     margin: 0;
     font-size: 1.5rem;
     color: hsl(var(--brown-strong-text));
 }

 .page-title__description {
     font-size: 1rem;
     color: hsl(var(--brown-text));
 }



 