<div class="list-actions">
    <div class="select-all">
        <button class="button-radio" 
        (click)="toggleBotaoSelecionarTudoAtivado()"
        [class.button-radio__select-all--selected]="todosItensSelecionados">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check">
                <path d="M20 6 9 17l-5-5" />
            </svg>
        </button> 
        Selecionar tudo
    </div>
    <button class="button-action button-action--delete" 
    *ngIf="quantidadeSelecionada > 0"
    (click)="onExcluirClick()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"
            >
            <path d="M10 11v6" />
            <path d="M14 11v6" />
            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
            <path d="M3 6h18" />
            <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
        </svg> 
        Excluir ({{ quantidadeSelecionada }})
    </button>

</div>
