<app-toast-message-error [mensagem]="mensagemToast" [mostrarToast]="exibirToastErro">
</app-toast-message-error>
<app-page-title titulo="Relatórios" descricao="Gere relatórios de compras e gastos"></app-page-title>

<main class="page-reports">
    <div class="choice-report">
        <div class="choice-report__buttons">
            <button class="choice-report__btn" [class.report-active]="relatorioComprasAtivo"
                (click)="togglePerspectiva()">Relatório de Compras</button>
            <button class="choice-report__btn" [class.report-active]="relatorioGastosAtivo"
                (click)="togglePerspectiva()">Relatório de Gastos</button>

        </div>

    </div>
    <div class="container-report">
        <div class="content">
            <h3 class="content-title"> {{ tituloRelatorio }}</h3>
            <div class="content__parameters" *ngIf="relatorioComprasAtivo">
                <div class="filter">
                    <p>Mês</p>
                   <span class="sr-only" id="label-mes">Seleção do mês para gerar relatório de compras</span>
                    <button class="filter__select" (click)="exibirMESES = !exibirMESES"
                        [attr.aria-expanded]="exibirMESES" aria-haspopup="listbox" aria-labelledby="label-mes">
                        <span class="select--text-selected"> {{ mesSelecionado.nome }} </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down-icon lucide-chevron-down">
                            <path d="m6 9 6 6 6-6" />
                        </svg>
                    </button>
                    <ul class="select__list" *ngIf="exibirMESES" role="listbox">
                        <li class="select__list__item" *ngFor="let mes of MESES" role="option"
                            (click)="selecionarMes(mes)">
                            {{ mes.nome }}
                        </li>
                    </ul>
                </div>
                <div class="filter">
                    <p>Ano</p>
                    <caption class="sr-only">Seleção do ano para gerar relatório de compras</caption>
                    <button class="filter__select" (click)="exibirListaAnos = !exibirListaAnos"
                        [attr.aria-expanded]="exibirListaAnos" aria-haspopup="listbox">
                        <span class="select--text-selected"> {{ anoSelecionado }} </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down-icon lucide-chevron-down">
                            <path d="m6 9 6 6 6-6" />
                        </svg>
                    </button>
                    <ul class="select__list" *ngIf="exibirListaAnos" role="listbox">
                        <li class="select__list__item" role="option" *ngFor="let ano of listaAnos"
                            (click)="selecionarAno(ano)">
                            {{ ano }}
                        </li>
                    </ul>
                </div>
                <div class="button-generate">
                    <button class="button-generate__btn" (click)="gerarRelatorioCompra()">Gerar Relatório</button>

                </div>

            </div>
            <div class="content__parameters" *ngIf="relatorioGastosAtivo">
                <div class="filter">
                    <p>Item</p>
                    <caption class="sr-only">Seleção do item para gerar relatório de gastos</caption>
                    <button class="filter__select" (click)="exibirListaItem = !exibirListaItem"
                        [attr.aria-expanded]="exibirListaItem" aria-haspopup="listbox">
                        <span class="select--text-selected"> {{ itemSelecionado.nome }} </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down-icon lucide-chevron-down">
                            <path d="m6 9 6 6 6-6" />
                        </svg>
                    </button>
                    <ul class="select__list" *ngIf="exibirListaItem" role="listbox">
                        <li class="select__list__item" *ngFor="let item of listaItens" role="option"
                            (click)="selecionarItem(item)">
                            {{ item.nome }}
                        </li>
                    </ul>
                </div>
                <div class="filter">
                    <p>
                        <label for="date-start">Data inicial: </label>
                    </p>
                    <input class="filter__input" id="date-start" type="date" [(ngModel)]="dataInicial" required aria-required="true">
                </div>
                <div class="filter">
                    <p>
                        <label for="date-end">Data final: </label>
                    </p>
                    <input class="filter__input" id="date-end" type="date" [(ngModel)]="dataFinal" required aria-required="true">
                </div>
                <div class="button-generate">
                    <button class="button-generate__btn" [disabled]="dataInicial === '' || dataFinal === ''" (click)="gerarRelatorioGasto()">Gerar Relatório</button>

                </div>

            </div>

        </div>

    </div>

</main>